.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  padding: 300px 0px 0px 100px;
}

.baloon {
  position: absolute;
  left: 320px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  left: 320px;
  top: 119px;
}

.bowser {
  width: 200px;
  padding-left: 350px;
}